* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1313px;
  margin: 0 auto;
  padding: 0 20px;
}

button{
  cursor: pointer;
}


body{
  color: $text-color;
  background-color: $bacground-color;
}