@mixin d-flex ($j-c, $gap){
    display: flex;
    align-items: center;
    justify-content: $j-c;
    gap: $gap;
}
@mixin font ($fs:10px , $fw:100) {
    font-size: $fs;
    font-weight: $fw;
}
@mixin btn ($p , $br , $b , $bg , $c){
    padding: $p;
    border-radius: $br;
    border: $b;
    background-color: $bg;
    color: $c;
}