.purr__list {
  margin-left: 65px;
  display: flex;
  flex-wrap: wrap;
}
.purr__item {
  padding-left: 40px;
  padding-top: 90px;
}
.purr-item__text {
  color: black;
  letter-spacing: 3px;
  @include font(12px, 700);
  width: 200px;
  padding-bottom: 19px;
}
.purr-item__title {
  color: white;
  @include font(36px, 700);
  padding-bottom: 15px;
}
.purr-item__bottom-text {
  color: white;
  @include font(14px, 400);
  width: 190px;
  padding-bottom: 35px;
}
.purr-pink {
  background-color: $btn-color;
  width: 315px;
  height: 480px;
  border-radius: 40px;
}
.purr-item__btn {
  background-color: $btn-color;
  @include btn(15px 80px, 40px, none, $main-btn, white);
}
.grooming-item__title {
  color: white;
  @include font(24px, 700);
  padding-top: 30px;
  padding-bottom: 10px;
}
.purr-black {
  padding-left: 50px;
  padding-top: 50px;
}
.grooming-item__text {
  color: white;
  width: 200px;
  @include font(14px, 400);
}

.purr_kit {
  @include d-flex(flex, 0px);
  padding-top: 68px;
  padding-left: 250px;
}
.grooming-item__text {
  color: white;
  width: 200px;
  @include font(14px, 400);
}
.img__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
  gap: 20px;
}
.radius-icon {
  width: 50px;
  height: 50px;
}
.radius {
  border-radius: 50%;
  background-color: $btn-color;
  width: 70px;
  height: 70px;
  padding-left: 10px;
  padding-top: 10px;
  position: absolute;
  top: 200px;
  left: 105px;
}
.img__item {
  position: relative;
}
.img__list {
  margin-left: 100px;
}

.amin_xatosi {
  display: flex;
  justify-content: center;
}
