.stars_wrapper-item {
  width: 500px;
  height: 600px;
}

.Stars {
  margin-top: 129px;
}

.stars_wrapper_item-title {
  font-size: 14px;
  color: $text-grey;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 21px;
  padding-bottom: 28px;
}

.stars_wrapper_item-big {
  font-size: 46px;
  font-weight: 700;
  color: white;
  line-height: 69px;
  padding-bottom: 28px;
}

.stars_wrapepr_item-mini {
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 21px;
  padding-bottom: 40px;
}

.start_box-cat {
  width: 337px;
  height: 122px;
  border-radius: 20px;
  background-image: url(/Photos/cat.png);
  background-repeat: no-repeat;
  position: relative;
  margin-top: 80px;
}

.start_box_cat-title {
  font-size: 12px;
  line-height: 18px;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
}

.start_box_cat-mini {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
}

.start_box_cat-text {
  padding-top: 65px;
  padding-left: 20px;
}

.start_box_cat-media {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #c75e90;
  border: none;
  @include d-flex(flex, 0px);
  justify-content: center;
  left: 305px;
  bottom: 30px;
  position: absolute;
}

.stars_wrapper {
  @include d-flex(flex, 0px);
  justify-content: space-between;
}

.stars_wrapper-left {
  position: relative;
}

.start_box_left-fisrt {
  position: absolute;
  top: 80px;
  left: -60px;
}

.start_box_left-second {
  position: absolute;
  top: 300px;
  left: -60px;
}

.start_box_left-thirs {
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.start_box_left-four {
  position: absolute;
  bottom: -50px;
  left: 250px;
}

.stars_wrapper_bottom-box {
  width: 1313px;
  height: 168px;
  background-color: #c75e90;
  border-radius: 40px;
  margin-top: 82px;
}
.stars_wrapepr_bottom-location {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #8e345f;
  @include d-flex(flex, 0px);
  justify-content: center;
}

.start_wrapepr_bottom-text {
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 30px;
}

.stars_wrapepr_bottom-first {
  @include d-flex(flex, 12px);
  padding-top: 43px;
  padding-left: 23px;
  padding-bottom: 40px;
}

.stars_wrapper_bottom-second {
  width: 822px;
  height: 168px;
  background-color: #8e345f;
  border-radius: 100px 40px 40px 100px;
}
.stars_wrapper_bottom-box {
  @include d-flex(flex, 0x);
  justify-content: space-between;
}

.stars_wrapper_bottom_second-box {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #c75e90;
  @include d-flex(flex, 0px);
  justify-content: center;
}

.stars_wrapper_bottom_second-text {
  font-size: 20px;
  line-height: 30px;
  color: wheat;
  font-weight: 700;
}

.stars_wrapper_bottom_second_first-box {
  @include d-flex(flex, 27px);
}

.stars_wrapper_bottom-second {
  @include d-flex(flex, 83px);
  justify-content: center;
}
